#main-page {
    margin-left: 100px;
    margin-right: 100px;
}

#character-list {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
}

label.character-name {
    display: inline-block;
    margin-right: 500px;
    width: 300px;
}

p.relic {
    display: inline;
}

label.relic, label.stat, label.relic-type {
    display: inline-flex;
    padding: 10px;
}

#build-sug-textarea {
    width: 1000px;
    height: 300px;
}

#bottom-div {
    margin-top: 50px;
}

.stat-value {
    width: 50px;
}

th, td {
    border: 10px solid white;
}

.high-fit {
    color:red;
}

.middle-fit {
    color:orangered;
}